  <!-- Intro image -->
<section class="full-bg-img" id="sec-home">
  <!--Mask-->
  <div class="view rgba-black-strong">
    <!--Alignment-->
    <div class="verticalcenter">
      <div class="container">
        <div class="row">
          <!--Content-->
          <div class="col-md-6 white-text wow fadeInLeft">
            <h2>Share Tracker</h2>
            <p>This application makes tracking shares are breeze.</p>
            <a href="#sec-best-features" class="btn btn-primary btn-ptc btn-lg waves-effect waves-light">Learn more</a>
          </div>
          <!--/.Content-->
          <!--Form-->
          <div class="col-md-6 wow fadeInRight">
            <%= render "devise/registrations/new" %> -->
          </div>
          <!--/.Form-->
        </div>
      </div>
    </div>
    <!--/.Alignment-->
  </div>
  <!--/.Mask-->
</section>
<!--/. Intro image -->